{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur la page de reservation de salle{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('planning_new') }}">Create a new planning</a>
        </li>
    </ul>
{% endblock %}