body
{
background-image:url(../elements/bg.png);
padding: 0 10% 0 15%;
margin: 0 0 0 8%;
color: #505050;
font-size: 13px;
}

#container
{
background-color: white;
width: 994px;
}

h1
{
font-family: "Terminal Dosis";
font-size: 42px;
padding: 50px 0 0 0;
margin: 0 0 20px 0;
}

#text
{
padding: 0 20px 0 20px;
}
 
#up
{
text-align: center;
}

h2
{
font-size: 20px;
height: 22px;
text-align: center;
}

p
{
font-family: "Helvetica";
text-align: justify;
margin: 0 30px 0 25px;

}
#nav1
{
margin: 0 0 0 50px;
}

#loupe
{
float: right;

padding: 0 60px 0 0;

}
#ptitre
{
margin: 0 0 25px 0;
padding: 0px 0 0px 0;
}


#menu nav
{
background-color: grey;
display:flex;
margin: 0px 47px 0 47px;
padding: 20px 0px 20px 100px;
}

#menu ul 
{
 list-style-type:none;
}
#menu ul {
 margin:0 0px 0 0;
 padding:0 0px 0 0;
 list-style-type:none;
 text-align:center;
 }
#menu li 
{
 float:left;
 padding:0;
 }

#menu li a:hover {
 color:#FFD700;
 }
#menu li a {
display:inline-block;
width:100px;
text-decoration:none;

 }
#menu li a:hover {
 color:#FFD700;

 }
 #menu ul li ul {
 display:none;
 }
 #menu ul li:hover ul 
 {
 display:block;
 background-color:#A6A6A6;
 }
#menu li:hover ul li 
{
 float:none;
}
 #menu li ul 
{
position:absolute;
}






#nuage
{
text-align: center;
margin: 30px 0 0 0;
}

#lead
{
color:#A6A6A6;
text-align: center;
height: 30px;
}


a
{
color:#505050;
text-decoration: none;
font-family: "Helvetica";
}

#hr1
{
padding: 50px 0 0px 0;
margin: 20px 50px 20px 50px;
background-color: #A6A6A6;
border-top: solid grey;
border-bottom: solid grey;
opacity: 0.2;
}
#entries
{
text-align: center;
margin: 35px 0 35px 0px;
}


.fcontainer
{
display: flex;
justify-content: flex-start;
background-color: #A6A6A6;
margin: 0 50px 0 50px;
padding: 0 0px 0 0;
}

.fcontainer ul
{
list-style: none;
}

.fcontainer a
{
text-align: left;
}

.fcontainer h2
{
padding: 0px 60px 0 0;
}

#post
{

}

#comments
{
padding: 0 0px 0 25px;
}

#archives
{
padding: 0 0px 0 40px;
}

#categories
{
margin-left: 9.4%;
padding: 0 0px 0 25px;
}

